html,
body,
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #121212;
}

body {
    /* background: linear-gradient(135deg, #0f172a, #020617); */
    margin: 0 0;
}