:root {
    --bg-main: #121212;
    --bg-card: #181818;
    --bg-input: #0f0f0f;

    --primary-color: #ff450f;
    --secondary-color: #fffff;
    --alternate-color: #050505;
    --primary-bg-color: #2a2a2a;
    --secondary-bg-color: #333;
    --alternate-bg-color: #161616;

    --bg-one: #1f1f1f;
    --bg-two: #121212;
    --bg-three: #0a0a0a;

    --orange: #ff450f;
    --orange-soft: #f06a5b;
    --orange-muted: #c0392b;

    --text-primary: #ffffff;
    --text-muted: #9ca3af;

    --border-subtle: #2a2a2a;
    --glass-dark: #0a0a0acc;

    --void-black: #050505;
    --terminal-white: #e0e0e0;
    --system-orange: #ff4500;
    --glitchy-grey: #333;


}

/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

html,
body,
#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* color: #2c3e50; */
    color: var(--text-primary);
    margin: 0;
    background: #121212;
}

body {
    /* background: linear-gradient(135deg, #0f172a, #020617); */
    margin: 0 0;
}