:root {
  --bg-main: #121212;
  --bg-card: #181818;
  --bg-input: #0f0f0f;

  --orange: #ff4500;
  --orange-soft: #f06a5b;
  --orange-muted: #c0392b;

  --text-primary: #ffffff;
  --text-muted: #9ca3af;
  --border-subtle: #2a2a2a;

    --void-black: #050505;
    --terminal-white: #e0e0e0;
    --system-orange: #ff4500;
    --glitch-grey: #333;
    --glass-dark: #0a0a0acc;
}


html,
body,
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #121212;
}

body {
    /* background: linear-gradient(135deg, #0f172a, #020617); */
    margin: 0 0;
}